[include macro.cfg]
[include mainsail.cfg]
[include toolchanger/*.cfg]
[include toolchanger/tools/*.cfg]
[include toolchanger-config.cfg]
[include Line_Purge.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2B0004000251313239393734-if00

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 5000  
max_accel: 30000    			#Max 4000
max_z_velocity: 5000 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 30000
square_corner_velocity: 5.0

[stepper_y]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:^PC15
position_min: -110
##--------------------------------------------------------------------
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PD5
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: True
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_x]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:  ^PF0
position_min: 0
##--------------------------------------------------------------------
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PB5
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: True
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0

##	Z1 Stepper - Front Right on Motor7
[stepper_z]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

endstop_pin: probe:z_virtual_endstop
position_max: 300


##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc5160 stepper_z]
cs_pin: PC13
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: true
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left - Motor3
[stepper_z1]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z1]
cs_pin: PE3
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: true
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z2]
cs_pin: PG14
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: true
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0


## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z3]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z3]
cs_pin: PB9
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
interpolate: true
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

#####################################################################
#   Fans
#####################################################################

[multi_pin tmc_fans] 
pins: PF8, PF6

[controller_fan tmc_fan]
pin: multi_pin: tmc_fans
max_power: 1
shutdown_speed: 0.0
kick_start_time: 5.0
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, stepper_z3



[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
#	Probe points
points:
	50,25
	50,225
	250,225
	250,25

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075
max_adjust: 20

[bed_mesh]
probe_count: 3, 3
zero_reference_position: 150, 150
mesh_min: 35, 35
mesh_max: 250, 250

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE0
heater_pin: PA0
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769
