
# This is an example tool template. exact values of course need to be adjusted.
#───< Toolchanger specific! ---------------------------------------------

[gcode_macro T0]
variable_active: 0
variable_color: ""
variable_tool_number: 0
gcode:
   SELECT_TOOL T={tool_number} {rawparams}

[tool T0]
tool_number: 0
detection_pin: ^!et0:PA15
extruder: extruder
fan: T0_partfan
# parking position
params_park_x: 20 #20
params_park_y: 0 #-104 
params_park_z: 257 #257

[probe_multiplexer T0]
pin: ^et0:PA15
probe_number: 0
z_offset: -1.860 # negative
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder TEMP=150

#==========================================================================
# anything below this point is likely custom to your own config.
#==========================================================================

[mcu et0]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_31000F000950415742363820-if00

#───< Extruder ---------------------------------------------------------
[tmc2209 extruder]
uart_pin: et0:PC14
run_current: 0.45
stealthchop_threshold: 999999
sense_resistor: 0.110

[extruder]
step_pin: et0: PB9
dir_pin: et0: PB8
enable_pin: !et0: PB7
microsteps: 32
full_steps_per_rotation: 200 
rotation_distance: 56.2
gear_ratio: 44:10, 37:17
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: et0: PA7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: et0: PA6
pullup_resistor: 2200
control: pid
pid_Kp=30
pid_Ki=19.795
pid_Kd=20

min_temp: 0
max_temp: 300
max_extrude_cross_section: 0.64

#───< Fans ---------------------------------------------------------

[multi_pin T0_partfan_multi_pin]
pins: et0:PB13, et0:PA9

[fan_generic T0_partfan]
pin: multi_pin:T0_partfan_multi_pin

[heater_fan T0_hotend_fan]
pin: et0:PB15
heater: extruder
heater_temp: 55

#───< accel --------------------------------------------------------
[adxl345 T0]
cs_pin: et0: PB12
spi_software_sclk_pin: et0: PB10
spi_software_mosi_pin: et0: PB11
spi_software_miso_pin: et0: PB2
axes_map: x,y,z

[tool T0]
params_accelerometer: 'adxl345 00'